@import '../../../styles/base';

.navbar {
  background-color: color('navbar', 'background');
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: gap(2) gap(2) gap(30);
  margin-bottom: -(gap(15));

  &__logo {
    margin: 0;
    color: white;
  }

  &__right-section {
    display: flex;
    align-items: center;
    color: white;
  }
}