.btn {
  background: transparent;
  border: 2px solid transparent;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 2rem;
  border-width: 0;
  min-height: 45px;
  border-radius: 50px;
  color: color('button', 'default');
  text-decoration: none;
  cursor: pointer;

  &--iconed {
    .btn__icon {
      display: flex;

      svg {
        width: 1.75rem;
      }
    }
  }

  @each $name, $color in map-get($colors, 'button') {
    &.btn--#{$name} {
      background-color: $color;
      border: 2px solid $color;
      color: white;
    }

    &.btn--#{$name}:not(:disabled):hover, &.btn--#{$name}:not(:disabled):focus {
      background-color: lighten($color: $color, $amount: $button-hover-percentage);
      border-color: lighten($color: $color, $amount: $button-hover-percentage);
    }

    &.btn--#{$name}--outline {
      background-color: transparent;
      color: $color;
      border: 2px solid $color;
    }

    &.btn--#{$name}--outline:not(:disabled):hover, &.btn--#{$name}--outline:not(:disabled):focus {
      color: white;
      background-color: $color;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--prefixed {
    padding: 0 0.8rem 0 0.5rem;

    &__picture {
      width: 30px;
      margin-right: 10px;
    }
  }
}