.form-group {
  border: 1px solid color('input', 'border');
  margin-bottom: gap(2);
  border-radius: 5px;
  display: flex;
  position: relative;
  background-color: white;

  &--invalid {
    .form-group__label {
      color: color('input', 'error');  
    }

    .form-group__error {
      display: block;
    }
  }

  &__label {
    display: block;
    position: absolute;
    left: gap(2);
    top: gap(1);
    font-size: 0.8rem;
    color: color('input', 'label')
  }

  &__error {
    position: absolute;
    right: gap(2);
    padding: gap(2);
    top: 30%;
    font-size: 1rem;
    line-height: 4px;
    color: white;
    background-color: color('input', 'error');
    border-radius: 50px;
    display: none;
  }

  &__input {
    font-weight: 300;
    line-height: initial;
    padding: gap(2) gap(2) 0;
    font-size: 1.2rem;
    flex: 0 1 auto;
    border: 0;
    border-radius: 5px;
    background: color('input', 'background');
    min-width: 0;
    outline: 0;
    height: 3rem;
    width: 100%;
    color: #333;
  }

  &--dark-env {
    border-color: white;
  }

  &--has-suffix {
    .form-group__input {
      border-radius: 5px 0 0 5px;
    }

    .form-group__suffix {
      .btn {
        border-radius: 0 5px 5px 0;
        padding-top: gap(2.6);
        padding-bottom: gap(2.6);
      }
    }
  }
}

.form-column-groups {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.15);
  border-radius: 5px;
  margin-bottom: gap(2);

  .form-group {
    margin: 0;
    border-bottom: none;

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
      border-bottom: 1px solid color('input', 'border');
    }
  }
}