.pagination {
  width: 100%;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: gap(2);
    margin: 0;
  }

  &__page {
    list-style: none;

    @include small {
      &--number {
        display: none;
      }
    }

    @include medium {
      &--number {
        display: initial;
      }
    }

    .btn {
      border-radius: 0;
      border-left-width: 0;
      font-size: 0.8rem;
    }

    &:first-child .btn {
      border-radius: 50px 0 0 50px;
      border-left-width: 2px;
    }

    &:last-child .btn {
      border-radius: 0 50px 50px 0;
    }

    &--disabled button, &--disabled button:hover {
      cursor: initial;
      // border-color: lighten(map-get($pallete, 'green-sheen'), 30%);
      // background-color: lighten(map-get($pallete, 'green-sheen'), 30%);
    }

    &--current .btn {
      cursor: initial;
      // border-color: darken(map-get($pallete, 'green-sheen'), 30%);
      background-color: color('button', 'primary');
      color: white;
    }
  }
}