@import './styles/base';

// global/generic styles
@import './styles/alerts';
@import './styles/buttons';
@import './styles/form';
@import './styles/grid';
@import './styles/pagination';
@import './styles/layout-grid';
@import './styles/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;
  background-color: #f5fffa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: color('body', 'link-color')
}